NODE_ENV=development
NODE_ENV=production
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_HIVE_COMMUNITY_TAG=hive-XXXXXX
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_SECRET=
NEXT_PUBLIC_PINATA_GATEWAY_TOKEN=
NEXT_PUBLIC_CRYPTO_SECRET=
NEXT_PUBLIC_OPENAI_API_KEY=
NEXT_PUBLIC_ETHERSCAN_API=
NEXT_PUBLIC_MAINFEED_PERMLINK=
NEXT_PUBLIC_MAINFEED_AUTHOR=
NEXT_PUBLIC_PARENT_PERM=

# EMAIL INVITES
NEXT_PUBLIC_EMAIL_API_KEY=your-very-secure-api-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
EMAIL_COMMUNITY=
EMAIL_RECOVERYACC=
EMAIL_USER=
EMAIL_PASS=
