.react-multiple-carousel__arrow {
  scale: 0.6;
}

.react-multiple-carousel__arrow::before {
  font-size: 24px;
}

.react-multiple-carousel__arrow:hover {
  background-color: transparent;
  scale: 1;
}

.react-multiple-carousel__arrow--left {
  left: -4px;
}

.react-multiple-carousel__arrow--right {
  right: -4px;
}
