@font-face {
    font-family: 'Joystix';
    src: url('../../../public/fonts/joystix.woff2') format('woff2'),
         url('../../../public/fonts/joystix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  